@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Roboto:wght@300;400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
    color: #f59e0b;
}

body{
  background: linear-gradient(to right,#000000, #000000) ;
    overflow-x: hidden;
}

.get-started {
    
    
    border: 1px solid #0000;
    
    background: linear-gradient(to right,#131313, #000000) padding-box, linear-gradient(
          var(--angle),
          #070707,
          #fe9f11
        ) border-box;
    animation: 8s rotate linear infinite;
  }
  
  @keyframes rotate {
    to {
      --angle: 360deg;
    }
  }
  
  @property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }
  